#popup {
    display: none;
    position: fixed;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    /* position: absolute; */
    z-index: 100;
    top: 30%;
    left:50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#close-popup {
    color: grey;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: -35px;
}

#close-popup:hover {
    color: black;
    cursor: pointer;
}